{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} pihole.{{ lab_domain }} pihole
{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} argocd argocd.{{ lab_domain }}
{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} traefik traefik.{{ lab_domain }}
{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} grafana grafana.{{ lab_domain }}

{% for name, value in host_ips.items() %}
{{ value }} {{ name }}
{% endfor %}

