https://opentelemetry-demo.{{ lab_domain }} {
  reverse_proxy {{ groups['server'][0] }}:8443 {
    transport http {
      tls_server_name opentelemetry-demo.local
      tls_trusted_ca_certs /etc/caddy/certs/cluster-ca.crt
    }
  }
}

