[Interface]
Address = 10.100.0.1/24
ListenPort = 47111
PrivateKey = {{ server_key['content'] | b64decode }}

{% for name in vpn_client_names %}
[Peer]
PublicKey = {{ vpn_client_public_keys['results'][loop.index - 1]['content'] | b64decode }}
PresharedKey = {{ vpn_client_preshared_keys['results'][loop.index - 1]['content'] | b64decode }}
AllowedIPs = 10.100.0.2/32
{% endfor %}
